{% extends "base.html" %} {% block content %}

<div class="body-container auth-container">
  <div class="kettlewright-logo-container">
    <img src="/static/images/Kettlewright_Logo_Black.png" alt="Kettlewright" id="kettlewright-logo" />
  </div>
  <form class="auth-card" method="POST">
    {{ form.hidden_tag() }}
    <!-- <h3 class="auth-title">Login</h3> -->
    <div class="field">
      <div class="control">{{ form.email(class_="input") }}</div>
    </div>
    <div class="field">
      <div class="control">{{ form.password(class_="input") }}</div>
    </div>
    {{ form.submit(class="button is-info") }} {% if form.errors %}
    <div class="notification is-danger" style="margin-top: 1em">
      {% for field, errors in form.errors.items() %} {% for error in errors %}
      <span>{{ error }}</span>
      {% endfor %} {% endfor %}
    </div>
    {% endif %} {% with messages = get_flashed_messages(category_filter=['error']) %} {% if messages %}
    <div class="notification is-danger" style="margin-top: 1em">{{ messages[0] }}</div>
    {% endif %} {% endwith %} {% with messages = get_flashed_messages(category_filter=['success']) %} {% if messages %}
    <div class="notification is-success" style="margin-top: 1em">{{ messages[0] }}</div>
    {% endif %} {% endwith %}
    <div>
      <a href="/reset" class="alert-link forgot-password-link">Forgot Password?</a>
    </div>
  </form>
</div>

{% endblock %}
