.git
.gitignore
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
env/
*.env
build/
dist/
*.egg-info/
Dockerfile.*
.dockerignore
.vscode/
.idea/
*.swp
*.swo
*~
node_modules/
npm-debug.log
yarn-error.log
.env
Pipfile.lock
app/static/.webassets-cache/
event_data.json
background_data.json
app/static/dist/
*.sqlite