.DS_Store
.vscode
.env
*.pyc
__pycache__/
.env
*.log
*.sqlite
*.db
Pipfile.lock
app/static/.webassets-cache/
event_data.json
background_data.json
app/static/dist/
instance/
app/static/.webassets-manifest