[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-login = "*"
flask-migrate = "*"
flask-wtf = "*"
email-validator = "*"
flask-assets = "*"
libsass = "*"
flask-mail = "*"
python-dotenv = "*"
itsdangerous = "*"
jsmin = "*"
werkzeug = "==2.3.7"
bleach = "*"
python-slugify = "*"
flask-socketio = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.11"
