[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "==1.13.2"
bidict = "==0.23.1"
bleach = ">=6.4.0"
blinker = ">=1.9.0"
click = "==8.1.7"
dnspython = "==2.6.1"
email-validator = "==2.2.0"
flask = ">=3.1.3"
flask-assets = "==2.1.0"
flask-babel = "*"
flask-cors = "*"
flask-htmx = "*"
flask-login = "==0.6.3"
flask-mail = "==0.10.0"
flask-migrate = "==4.0.7"
flask-socketio = "==5.3.7"
flask-sqlalchemy = "==3.1.1"
flask-wtf = "==1.2.1"
gevent = ">=24.10.1"
greenlet = ">=3.1.1"
gunicorn = "==23.0.0"
h11 = ">=0.16.0"
idna = ">=3.15"
itsdangerous = "==2.2.0"
jinja2 = ">=3.1.6"
libsass = "==0.23.0"
mako = ">=1.3.12"
markupsafe = "==2.1.5"
packaging = "==24.1"
pybabel-json = "*"
python-dotenv = ">=1.2.2"
python-engineio = ">=4.13.2"
python-slugify = "==8.0.4"
python-socketio = ">=5.16.2"
requests = "*"
simple-websocket = "==1.0.0"
six = "==1.16.0"
sqlalchemy = "==2.0.34"
text-unidecode = "==1.3"
typing-extensions = "==4.12.2"
unidecode = "*"
webassets = "==2.0"
webencodings = "==0.5.1"
werkzeug = ">=3.1.9"
wsproto = "==1.2.0"
wtforms = "==3.1.2"

pillow = "*"
reportlab = ">=4.4"
pypdf = ">=6.19.0"
pynacl = ">=1.6.2"

mistune = ">=3.3.3"

[dev-packages]
pytest = "*"
pytest-flask = "*"
