bleach
click
email-validator
eventlet
Flask
Flask-Assets
Flask-Login
Flask-Mail
Flask-Migrate
Flask-SocketIO
Flask-SQLAlchemy
Flask-WTF
flask_cors
flask_htmx
flask_babel
pybabel-json
gunicorn
itsdangerous
Jinja2
libsass
python-dotenv
python-slugify
pytz
redis
SQLAlchemy
tzdata
unidecode
Werkzeug
WTForms