.view-character-sheet {
  max-width: 940px;
  padding: 4em;
}

@media (max-width: 940px) {
  .view-character-sheet {
    padding: 1em 1em;
  }
}

.character-section {
  margin: 1em 0px;
}

.character-stats-traits-inventory {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "stats inventory-container"
    "traits inventory-container";
  /* row-gap: 1em; */
  column-gap: 2.5em;
  margin-bottom: 1em; 
}


.character-print-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2.5em;
  grid-template-rows: auto;

}

.print-container {
  // margin-bottom: 1em;
}

@media (max-width: 940px) {
  .character-stats-traits-inventory {
    grid-template-areas:
      "stats stats"
      "traits traits"
      "inventory-container inventory-container";
  }
}

.character-descriptions-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  column-gap: 2.5em;
  /* row-gap: 1em; */
  grid-template-areas:
    "background bonds"
    "omens scars"
    "notes notes"
    "party party";
}

@media (max-width: 940px) {
  .character-descriptions-grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "background"
      "bonds"
      "omens"
      "scars"
      "notes"
      "party";

  }
}


#character-stats-container {
  grid-area: stats;
  margin-bottom: 1em;
}

#inventory-container {
  grid-area: inventory-container;
}

#background-container {
  margin-top: 0px;
}

#bonds-container {
  margin-top: 0px;
}

#character-traits-container {
  grid-area: traits;
  margin-top: 0px;
}

.portrait-image {
  height: 100px;
  width: 100px;
  object-fit: contain;
}

.fatigue-text {
  font-weight: 600;
}

.item-blocker-text {
  font-style: italic;
  font-weight: 600;
  background: linear-gradient(to right,var(--bg), color-mix(in lab, transparent 95%, var(--fg)));
}


/* For individual stats, str, etc. */
.character-attribute-container {
  display: grid;
  grid-template-columns: 1.1fr 3fr 4fr;
  gap: 1em;
  align-items: center;
}

.character-attribute-container>* {
  margin: 0px;
}

.character-attribute-field-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

}

.character-attribute-input {
  margin: 0px .4em 0px 0px !important;
}

.character-description-container {
  min-height: 10em;
  /* margin-top: 1em; */
}

.character-attribute-field-container {
  min-width: 80px;
}

.stats-stats-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: .5em;
  grid-template-areas: "str gld"
    "dex armor"
    "wil hp"
    "deprived rest";

}

#character-str-container {
  grid-area: str;
}

#character-dex-container {
  grid-area: dex;
}

#character-wil-container {
  grid-area: wil;
}

#character-hp-container {
  grid-area: hp;
}

#character-armor-container {
  grid-area: armor;
}

#character-deprived-container {
  grid-area: deprived;
}

#character-gold-container {
  grid-area: gld;
}

#character-rest-container {
  grid-area: rest;
}


#character-background-container {
  grid-area: background;
}

#character-bonds-container {
  grid-area: bonds;
}

#character-omens-container {
  grid-area: omens;
}

#character-scars-container {
  grid-area: scars;
}

#character-notes-container {
  grid-area: notes;
}

#character-party-container {
  grid-area: party;
}


#character-rest-button {
  font-size: 12pt;
  padding: .3em;
  /* margin: 0px .5em; */
  width: 80px;
}

.character-attribute-container-edit {
  height: 34px;
}

.character-deprived-text {
  margin: 0px 1em 0px 0px;
}

#character-scars-select-container {
  display: flex;
  align-items: center;
}

#scars-select {
  max-width: 200px;
  margin: 0px;
  margin-left: 1em;
}

@media (max-width: 940px) {
  #scars-select {
    max-width: 160px;
  }
}

#add-scar-button {
  margin: 0px;
  font-size: 12pt;
  border: none;
}

#character-party-name-description {
  margin: 16px 0px;
}

.character-text-field {
  margin-top: 0px !important;
}

.charedit-notes {
  resize: vertical;
}

.charedit-action-pad {
  background-color: var(--form-bg);
  position: static;
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  @media (max-width: 940px) {
      background-color: var(--form-bg);
      position: static;
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: center;
  }
}



.charedit-action-pad-top {
  border-top: none;
  background-color: color-mix(in lab, var(--bg) 80%, var(--fg));
  position: fixed;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 8px;
}


.charview-action-pad {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  @media (max-width: 940px) {
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: center;
  }
}

