.inventory-container {
    max-width: 460px;
    width: 100%;
}

.inventory-container-title {
font-weight: 400;
margin-top: 0px;
font-size: 1.8rem;
}

.inventory-container-title-selected {
font-weight: 600;
font-size: 2.025rem
}


.inventory-header {
/* border-top: .5px dotted ; */
border-bottom: .5px dotted ;
/* margin-bottom: .5em; */
padding-bottom: .5em; 

}

.inventory-footer-buttons {
display: flex;
justify-content: flex-start;
/* border-bottom: .5px dotted ; */
gap: .5em;
flex-wrap: wrap;
padding-bottom: .5em;
}


.inventory-container-title-container {
display: flex;
gap: .5em;
align-items: start;
height: 20px;
margin-right: .8em;

}

/* Inventory  Items*/


.inventory-item-container {
display:flex;
flex-direction: row;
align-items: end;
border-bottom: .5px dotted ;
min-height: 26px; 

}

.inventory-item-text {
margin-bottom: 0px;
margin-top: 0px;
padding: 0px;
}

.inventory-item-button-container {
display: flex;
margin-left: auto;
gap: 12px;
font-size: 13pt;
cursor: pointer;
}

.inventory-item-button {
margin-bottom: auto;
}

.inventory-item-info-button {
    margin-left: auto;
    white-space: nowrap;
}

.inventory-item-plus-minus {
/* min-width: 52px; */
margin-top: auto;
}


.inventory-item-plus-minus-container {
min-width: 52px;
margin-left: 1em; 
margin-right: 1em; 
/* font-weight: 600; */
/* font-size: 16pt; */
cursor: pointer;
white-space: nowrap;
}
.inventory-item-edit-button {
text-decoration: underline;
margin-top: auto;
margin-left: auto;
cursor: pointer;
}

.inventory-container-edit-button {
text-decoration: underline;
margin: 0px;
font-size: 12pt;
}

.inventory-edit-button {
padding: 4px;
margin-top: 0px;

}

.inventory-dice {
   
}

#add-item-modal-container-select {
width: 100%;    
}


/* Inventory Modals  */

#item-description-modal-content {
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#add-item-modal-description-field {
    min-height: 30px;
}

#add-item-modal-cancel {
    margin-right: auto;
}

#add-item-modal-delete {
    // margin-left: auto;

}
/* Add/Edit Container Modal */

#add-edit-container-modal-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    column-gap: 2em;
}

#add-edit-container-modal-body > *, 
#add-edit-container-modal-body > * > *, 
#add-edit-container-modal-body > * > * > *, 
#add-edit-container-modal-carried-select,
#add-edit-container-modal-move-items-destination {
    max-width: 100%;
    width: 100%;
}

// #add-edit-container-modal-remove-section {
//     grid-column: 1 / -1;  /* Span across all columns */
// }

#add-edit-container-modal-remove-section > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.footer-button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#add-edit-container-modal-remove {
    margin-left: auto;
}

.marketpace-item-quantity {
    display: flex;
    gap: .25em;
    align-items: center;
    
}

.marketpace-quantity-button {
    font-weight: 800;
    border: 1px solid lightgray;
    // padding: 0px 6px;
    width: 24px;
    height: 24px;
    text-align: center;
    cursor: pointer;
}

.marketplace-quantity-display {
    width: 24px;
    text-align: center;
}

#show-marketplace-button {
    margin-top: 0;
}