@import '_variables.scss';

.is-danger {
  background-color: $red !important;
}

.is-success,
.is-new {
  background-color: $green !important;
}

.is-primary,
.is-blue,
.is-info {
  background-color: $blue;
}

.is-yellow {
  background-color: $yellow;
}


/* Changes to Magick.css */

/* specifying content as uniciode, as Chrome sometimes had issues reading the symbol in magick.css*/
h3:before {
  content: "\1F65B  ";
}


body.dark-mode {
  // adjust magick.css variables for dark mode
  --fg: hsl(0, 0%, 85%);
  // --bg: hsl(0, 0%, 5%);
  // --form-bg: hsl(0, 0%, 10%);

  // --bg: hsl(260, 90%, 4%);
  // --form-bg: hsl(260, 90%, 5%);
  --bg: hsl(0, 0%, 6%);
  --form-bg: hsl(0, 0%, 8%);



  --form-fg: hsl(0, 0%, 85%);
  --form-fg-placeholder: #fefefe9a;

  .is-danger {
    background-color: $dark-red !important;
  }

  .is-success {
    background-color: $dark-green !important;
  }

  .is-new,
  #add-edit-item-modal-transfer {
    background-color: transparent !important;
  }

  .is-primary,
  .is-blue,
  .is-info,
  .tag.selected {
    background-color: $dark-blue !important;
  }

  .sheet,
  .card,
  #save-button-footer-wrapper,
  .notification,
  .party-member-card,
  .modal-card {
    box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 0.15);
    // box-shadow: none;
    //border: 2px solid rgba(255, 255, 255, 0.1);
  }

  .notification {
    background-color: var(--bg) !important;
  }

  .party-member-card {
    // background-color: var(--bg) !important;
    // box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 0.2);
  }

  #nav-logo,
  #kettlewright-logo,
  .nav-logo-container img {
    filter: invert(1);
  }

  .modal-card {
    background-color: var(--bg);
  }

  .modal-background {
    background-color: rgba(10, 10, 10, 0.85)
  }

  // .dice-modal-button {
  //   border: 2px solid rgba(255, 255, 255, 0.1);
  //   background-color: transparent;
  //   color: white !important;
  // }

  // for chrome in windows/linux
  select,
  option {
    background-color: var(--bg);
  }

  .dark-mode select option:checked,
  .dark-mode select option:hover {
    background-color: #555;
    color: var(--fg);
  }

}

main {
  max-width: 96rem;
}

textarea,
select {
  font-family: "Averia Serif Libre", serif;
  font-size: 13pt;
}

select,
select:focus {
  border: 1px solid $light-grey;
  border-radius: 4px;
  padding: .5em;
}



input {
  font-family: "Averia Serif Libre", serif !important;
  font-size: 13pt !important;
}

form input[type="number"] {
  max-width: 40px;
  padding: 0;
  font-size: 13pt;
  margin-top: .5em;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

form,
.form {
  display: block;
  padding: 4em;
  max-width: 940px;
  width: 100%;
  box-shadow: none;
  background-color: var(--form-bg);
}

form button {
  width: auto;
}

p {
  font-size: 13pt;
}

select {
  font-size: 13pt;

}

select {
  // max-width: 200px; 
}

footer {
  margin: auto;
  width: 100%;
}

header,
footer {
  margin: auto;
}

button,
.button {
  max-width: fit-content;
  min-width: max-content;
  border-radius: 2px;
  border-width: 1.5px;
  font-weight: 600;
}

/* Shared Classes */

// .notification {
//   padding: 1em;
//   border-radius: 4px;
//   font-size: 13pt;
//   width: 100%;
// }

.sheet,
.card {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--form-bg);
}

// @media (prefers-color-scheme: dark) {
//   .sheet, .card {
//     box-shadow: 0 0 8px 0 var(--form-bg);
//     border: 4px solid var(--form-bg);
//     border: 1px solid #fefefe;
//     border-radius: 4px;
//     // background-color: var(--bg);
//   }
// }

.auth-card {
  max-width: 400px;
  margin: 0px auto;
  padding: 4em 2em;
  height: auto;
  background-color: var(--bg);
}

.auth-card .field {
  width: 100%;
}

@media (max-width: 600px) {
  .card.auth-card {
    box-shadow: none;
    background-color: var(--bg);
  }
}

.auth-title {
  font-size: 1.25em;
  margin-bottom: 1.5em;
  margin-left: -15px;
  /* Adjust for icon */
}

@media (max-width: 940px) {
  .sheet {
    padding: 2em;
    box-shadow: none;
  }
}

.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 0px;
  box-sizing: border-box;

}

.grid-columns-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5em;
  row-gap: 1em;
}

.justify-left {
  display: flex;
  justify-content: flex-start;
}

.justify-space-between {
  display: flex;
  justify-content: space-between;

}

.justify-centered {
  display: flex;
  justify-content: center;

}

.subtitle {
  /* copy of magicks H4 */
  font-weight: 600;
  font-style: italic;
  font-size: 2.025rem;
}

.red-text {
  color: rgb(255, 41, 41) !important;
}

.font-weight-normal {
  font-weight: 400 !important;

}

.flex-row {
  display: flex;
  gap: 1rem;
  margin-top: 0px;
  flex-wrap: wrap;

}

.textarea {
  width: 100%;
  overflow: hidden;
  resize: none;
  min-height: 1em;
}

.textarea.inplace {
  min-height: auto !important;
}


.select-with-dice {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dice-button {
  font-size: 20pt;
  margin: 0;
  border: none;

}


.left-symbol:before {
  font-family: "Noto Sans Symbols 2", sans-serif;
  content: "\1F65B  ";
}

.text-border {
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  padding: calc(.75em - 1px);
}


.pointer {
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.inactive {
  opacity: 0.3;
  pointer-events: none;
}

.divider {
  border-bottom: 1px solid lightgray;
  width: 100%;
  margin: 48px 0px;
}

.divider-small {
  border-bottom: 1px solid lightgray;
  width: 190px;
  margin: 10px 8px;
}


.icon-in-button {
  font-size: 14pt;
  cursor: pointer;
  margin-left: 6px;
}


.tag {
  display: inline-block;
  background-color: transparent;
  /* 1 */
  color: var(--fg);
  /* 1 */
  padding: 8px;
  /* 2 */
  margin-top: 1rem;
  /* 3 */
  border: 1px solid var(--fg);
  /* 4 */
  border-radius: 2px;
  cursor: pointer;
  /* 5 */
  width: auto;
  font-size: 1.5rem;

}


.tag:disabled {
  opacity: 0.5;
  border-style: dashed;
  /* 1 */
  cursor: not-allowed;
  /* 2 */
  text-decoration: line-through;
}

.tag.selected {
  background-color: $blue;
}


.card {
  max-width: 20em;
}

.card-content {
  padding: 0px;
}

.errors {
  padding: .5em;
  border-radius: 4px;
}

/* Nav and Logos */

.navbar {
  display: flex;
  align-items: end;
  //gap: 1rem;
  font-size: 11pt;
  margin: .5rem 2rem;
  height: 58px;
}

.nav-logo-container {
  display: flex;
  align-items: end;
}

#nav-logo {
  margin: 8px 0px 0px 0px;
}

.navbar-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;

}

.navbar-start,
.navbar-end {
  display: flex;
  gap: 1.5rem;
  margin: 0 2rem;
}

.navbar-item {
  margin-bottom: 2px;
  text-decoration: none;
}

.kettlewright-logo-container,
.nav-logo-container {
  max-width: 500px;
  padding: 0 4em;
  margin: 0 auto;
  box-sizing: border-box;
}

.kettlewright-logo-container,
.nav-logo-container img {
  width: 100%;
  height: auto;
  display: block;
}

.nav-logo-container {
  max-width: 160px;
  position: relative;
  top: 9px;
  margin: 0px;
  padding: 1em;
}

.navbar-mobile-item {
  display: none;
}

@media screen and (max-width: 760px) {

  .navbar {
    display: flex;
    justify-content: space-between;
  }

  .navbar-menu {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2em;
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: var(--bg);
    padding: 4em 2em;
    font-size: 14pt;
  }

  .navbar-menu.is-active {
    display: flex;
  }



  .navbar-start,
  .navbar-end {
    flex-direction: column;
    gap: 2em;
  }

  .navbar-end {
    flex-direction: column-reverse;
  }

  .navbar-item {
    margin: 0;
  }

  .navbar-mobile-item {
    display: block;
  }

  .nav-logo-container {
    max-width: 180px;
  }
}



#dark-mode-toggle,
#nav-mobile-button {
  margin: 0px 1em 2px 0px;
  font-size: 14pt;
  border: none;
  padding: 0px
}



.sticky-save-button-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  /* Make sure it appears above other content */
  padding: 1em;
  /* Add some padding to separate it from the screen edge */
  background-color: var(--form-bg);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  /* Optional: add a shadow for better visibility */

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

#save-button-footer-save,
#save-button-footer-cancel {
  margin: 0;
}

/* Modals */

.modal {
  display: none;
}

.modal.is-active {
  display: block;
}

.modal-card {
  max-width: 460px;
}

.modal-card-head {
  padding: 0;
}

.modal-card-body {
  padding: 0 .7rem;
}

.modal-card-foot {
  flex-direction: row;
}

.notification {
  background-color: rgba(0, 0, 0, 0.8);
}

.github-fork-ribbon:before {
  background-color: #333;
}

.homepage-title {
  font-size: 42pt;
}

@media (max-width: 600px) {
  .homepage-title {
    font-size: 32pt;
  }
}

.homepage-text-container,
.about-text-container {
  text-align: left;
  padding: 1em 2em;
  max-width: 800px;
  width: 100%;
}


.forgot-password-link {
  margin-top: 1em;
  display: inline-block;
}

.row16 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.row16spaced {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
}

.row32 {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
}

.small-icon-button {
  border: none;
  width: 19px;
  height: 19px;
  cursor: pointer;
  color: color-mix(in lab, transparent 60%, var(--fg));
}

.small-icon-button:hover {
  color: var(--fg);
}

.no-space {
  margin: 0px;
  padding: 0px;
}

.full-width {
  width: 100%;
}

.with-whitespace {
  white-space: pre-line;
}


/* --- checkbox --- */

.checkbox {
  appearance: none;
  -webkit-appearance: none;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 1.7rem;
  padding: 0.2rem;
  border: 0.20rem solid color-mix(in lab, transparent 30%, var(--fg));
  border-radius: 0.5rem;
}

.checkbox::before {
  content: "";
  width: 1.3rem;
  height: 1.3rem;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  background-color: var(--fg);
}

.checkbox:checked::before {
  transform: scale(1);
}