
@import '_variables.scss';

 /* Defaults from Bulma CSS modals */

.modal, .modal-background{
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }



.delete, .modal-close {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    // background-color: rgba(10, 10, 10, 0.2);
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    pointer-events: auto;
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
    // font-size: 0;
    height: 20px;
    max-height: 20px;
    max-width: 20px;
    min-height: 20px;
    min-width: 20px;
    outline: none;
    position: relative;
    vertical-align: top;
    width: 20px;
  }
  
.modal-close::before, .modal-close::after {
    // background-color: white;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform-origin: center center;
  }
  
  .delete::before, .modal-close::before {
    height: 2px;
    width: 50%;
  }
  
  .delete::after, .modal-close::after {
    height: 50%;
    width: 2px;
  }
  
  .delete:hover, .modal-close:hover, .delete:focus, .modal-close:focus {
    // background-color: rgba(10, 10, 10, 0.3);
  }
  
  .delete:active, .modal-close:active {
    // background-color: rgba(10, 10, 10, 0.4);
  }
  
  .is-small.delete, .is-small.modal-close {
    height: 16px;
    max-height: 16px;
    max-width: 16px;
    min-height: 16px;
    min-width: 16px;
    width: 16px;
  }
  
  .is-medium.delete, .is-medium.modal-close {
    height: 24px;
    max-height: 24px;
    max-width: 24px;
    min-height: 24px;
    min-width: 24px;
    width: 24px;
  }
  
  .is-large.delete, .is-large.modal-close {
    height: 32px;
    max-height: 32px;
    max-width: 32px;
    min-height: 32px;
    min-width: 32px;
    width: 32px;
  }

  .modal {
    align-items: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    z-index: 40;
   
  }
  
  .modal.is-active {
    display: flex;
  }
  
  .modal-background {
    background-color: rgba(10, 10, 10, 0.86);
  }
  
  .modal-content,
  .modal-card {
    margin: 0 20px;
    max-height: calc(100vh - 160px);
    overflow: auto;
    position: relative;
    width: 100%;
    background-color: var(--form-bg)
  }

  @media screen and (min-width: 769px) {
    .modal-content,
    .modal-card {
      margin: 0 auto;
      max-height: calc(100vh - 40px);
      width: 640px;
    }
  }
  
  .modal-close {
    background: none;
    height: 40px;
    position: fixed;
    right: 20px;
    top: 20px;
    width: 40px;
  }
  
  .modal-card {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 40px);
    overflow: hidden;
    -ms-overflow-y: visible;
  }
  
  .modal-card-head,
  .modal-card-foot {
    align-items: center;
    // background-color: whitesmoke;
    display: flex;
    flex-shrink: 0;
    justify-content: flex-start;
    padding: 20px;
    position: relative;
  }
  
  .modal-card-head {
    // border-bottom: 1px solid #dbdbdb;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  
  .modal-card-title {
    // color: #363636;
    flex-grow: 1;
    flex-shrink: 0;
    // font-size: 1.5rem;
    line-height: 1;
  }
  
  .modal-card-foot {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    // border-top: 1px solid #dbdbdb;
  }
  
  .modal-card-foot .button:not(:last-child) {
    margin-right: 0.5em;
  }
  
  .modal-card-body {
    -webkit-overflow-scrolling: touch;
    // background-color: white;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
    padding: 20px;
  }






  /* Customizations to the Bulma Modal */

    .modal-card-head {
        margin: 0px;
    }

    .modal-card {
      margin: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 4px;
      max-height: 80vh;
      max-width: 90vw;
      }


    .modal-card-title{
      font-size: 1.5em;
      flex-grow: 0;
      width: auto;

    }
    
    .modal-card-head{
      justify-content: center;
    }

    .modal-card-body {
      display: flex;
      flex-direction: column;
      gap: 1em;
    }
    .modal-card-foot {
      // display: flex; 
      // justify-content: space-between;
      // gap: 1em;
      display: flex;
      flex-direction: column;

    }

    .footer-button-container {
      display: flex;
      justify-content: flex-start;
      gap: .5em;
      flex-wrap: wrap;
      width: 100%;
    }

    
    // form input[type="number"].modal-field {
    //   max-width: 100%;
  
    // }

    #new-party-modal-card {
      max-width: 500px;
    }


    .edit-portrait-modal-thumbnail {
      width: 86px;
      height: 86px;
      padding: 4px;
    }

    #edit-portrait-modal-image-select-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    img.edit-portrait-modal-thumbnail.highlighted {
      box-shadow: 0 0 4px 2px $is-primary;
    }


    .modal-text-area {
  
  
    }

    // Dice Modal

    #dice-modal-card {
      max-width: 400px;
    }
    
    .dice-modal-result-container {
      display: flex;
      justify-content: center;
      width: 100%;
    }
    
    .dice-modal-result-center {
      display: flex;
      align-items: center;
    }
    
    #dice-modal-roll-result {
      font-size: 3em;
      font-weight: bold;
    }
    
    .dice-modal-buttons-container {
      display: flex;
      justify-content: center;
      gap: .5em;
      flex-wrap: wrap;
      margin-top: 1em;
    }
    
    .dice-modal-button.is-blue {
      // background-color: #3273dc;
      color: white;
    }
    
    .dice-modal-button.button.is-yellow {
      // background-color: #ffdd57;
      color: rgba(0, 0, 0, 0.7);

    }

    .dice-modal-button {
      font-size: 16pt;
      border: none;
    }
