
//@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import "app/static/src/bulma/bulma.sass";
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;600&family=Almendra:ital,wght@0,400;0,700;1,400;1,700&display=swap');



@font-face {
    font-family: 'Deutsch'; 
    src: url('./fonts/Deutsch.ttf') format('trueType');
    font-weight: normal;
    font-style: normal;
}


body, textarea, option, select, input, button {
    font-family: 'Alegreya', sans-serif;    
}

.box {
    font-family: 'Alegreya', sans-serif;
    box-shadow: 0;
}

.navbar {
    padding-left: 20px;
    padding-right: 20px;
}

.nav-logo-container {
    padding-top: 0px;
    padding-bottom:4px;
   
}

.navbar-item img {
  max-height: 40px;
     }


.navbar-item {
    align-items: end;
}

.select, .select select { 
    width: 100%;
    }

.panel {
    font-size: 14pt;
    }

.panel-tabs a {
    font-size: 14pt;
        }

.subtitle {
    font-size: 18pt;
}

.title, .subtitle {
    font-family: 'Alegreya', sans-serif;
}

input::placeholder {
 color: rgb(120, 120, 120) !important;;
  }


// .card {
//     box-shadow: none;
//     border: 2px solid black;
// }  


.bold {
    font-weight: 600;

}

.page-break {
    page-break-after: always;
  }
/* __________  Flexbox helpers __________  */

.justify-centered {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.justify-left {
    display: flex;
    justify-content: left;
    gap: 10px;
}

.justify-space-between {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.align-end {
    display: flex;
    align-items: end;
    gap: 10px;
}

.align-center {
    display: flex;
    align-items: center;
    gap: 10px;
}

.align-bottom {
    align-self: flex-end;
  }
    


/*  __________ Shared Classes __________  */

.script-font {
    font-family: "Alegreya", sans-serif;
    /* letter-spacing: .1rem; */
}

.rounded {
    border-radius: 4px;
}
.divider {
    border-bottom: 1px solid lightgray;
    width: 100%;
    margin: 48px 0px;
}

.divider-small {
    border-bottom: 1px solid lightgray;
    width: 190px;
    margin: 10px 8px;
}


.icon-in-button {
    font-size: 18pt;
    cursor: pointer;
    margin-left: 6px;
}


.number-field {
    max-width: 38px;
    min-width: 38px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right:0px;
    
}

.text-border {
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    padding: calc(.75em - 1px);
    margin: calc(.75em - 1px);;
    background-color: rgb(252, 252, 252);
}

.table-border {
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    padding: calc(.75em - 1px);
    //margin: calc(.75em - 1px);;
    background-color: rgb(252, 252, 252);
}

.pointer {
    cursor: pointer;
}

.hidden {
    display: none !important;
}
.inactive {
    opacity: 0.3;
    pointer-events: none;
}

@media (max-width: 767px) {
    /* Remove "sheet" look on mobile to maximize space */
    .box {
        background-color: transparent;
        box-shadow: none;
        padding: 2px;
    }
}

/* Remove arrows from number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}




/* __________  Create Page __________  */
.dice-button {
    padding: 8px 7px 8px 4px;
    border: 1px solid black;
   
}

.dice {
font-size: 18pt;
cursor: pointer;
color: black;
}

.purple {
    background-color:purple !important;
}

.sheet {
    padding: 60px;
}

.attribute-roll-font {
    margin-top: 6px;
}

.image-placeholder-container {
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 322px;
    gap: 10px !important;
}



.table-question {
    font-size: 13pt; 
    font-weight: 600; 
    margin-bottom: 6px !important;
    width: 100;
    text-align: center;
    height: 44px;
    
   
}

.background-tables-container{
    margin-top: 20px;
}


.attribute-font {
    margin-top: 4px;
    min-width: 48px !important;
    font-size: 18pt;
/* font-weight: 600; */
}

.hp-font {
    margin-top: 4px;
    min-width: 34px !important;
}


 /* __________ Character Cards __________  */


.character-card {
    min-width: 340px;
} 
.character-card-name {
    font-size: 18pt;
    font-weight: 600;

}
.character-card-background {
    font-size: 16pt;
    margin-bottom: 4px;
}

.character-card-image {
    margin-top: 20px;
}

.character-card-attribute {
    font-size: 16pt;
    font-weight: 600;
    margin-bottom: 4px;

}
.card-attribute-icon {
    width: 22px;
    height: 24px;
    opacity: .75;
    margin: 4px 4px 0px 4px;
 }

 .card-attribute-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 4px;
 
 }


 /* __________ Edit Page __________  */


 .content-border {
    border: 1px solid rgb(240, 240, 240);
    border-radius: 4px;
    padding: 2.5em;
 }

 /* .view-mode {
    display: none;
 } */

 .divider-edit-page {
    border-bottom: 1px solid lightgray;
    width: 100%;
    margin: 48px 0px;
}

 .attribute-icon {
    width: 28px;
    height: 28px;
    opacity: .75;
    margin: 4px 4px 0px 4px;
 }

// .edit-page-portrait-image {
//     min-width: 180px;
//     min-height: 180px;
//     max-height: 180px;
//     max-width: 180px;
// }

.portrait-image, .edit-page-portrait-image {
    width: 180px;      
    height: 180px;     
    object-fit: cover;  
    object-position: center; 
  }
  
 .view-attribute-font {

    font-weight: 600; 
    font-size: 18pt;
    
    /* height: 36px; */
 }

 .view-attribute-number-font {
    font-weight: 400; 
    font-size: 20pt;
    /* height: 36px; */
 }

//  .hp-deprived-container, .armor-gold-container {
//     margin-top: 20px;
//  }

.attribute-grid-container {
    display: grid;
    grid-template-columns: 1fr 1.25fr 1fr;
    gap: 10px;
    height: 40px;
    //width: 190px;
    //align-items: end;
}




.attribute-grid-container-view {
    width:190px;
}

.attribute-grid-container-edit {
    width: 240px;
}



.deprived-grid-container-view {
    display: grid;
    grid-template-columns: 1fr 2.25fr ;
    gap: 10px;
    padding-right: 10px;
    width: 190px;
  

}

.deprived-grid-container-edit {
    display: grid;
    grid-template-columns: 1fr 2.25fr 1fr;
    gap: 5px;
    width: 240px;
    // align-items: center;

}

.deprived-inactive {
    opacity: .2;
 }

 .deprived-active {
    opacity: 1;
    color: red  !important;
 }

 #deprived-checkbox {
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-left: 10px;

 }




 .red-filter {
    filter: hue-rotate(0deg) saturate(100%) brightness(10%)
                  sepia(100%) hue-rotate(310deg) saturate(2500%);
  }

  .invert-filter {
    filter: invert(100%);
  }
  



#character-description {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}


#background-attributes-container {

//align-items: center;


}

#all-attributes-container {
    display: flex;
    flex-direction: column;
    //align-items: center;
    //justify-content: center;
    padding: 40px 10px 0px 10px;
    gap: 10px;

    //height: 400px;
}

#edit-page-hp-container {

}

.edit-character-name {
    font-size: 32pt; 
    text-align: center; 
    
}


#description-text, #bonds-text, #omens-text, #scars-text, #notes-text {
    min-height: 150px;
    max-height: 150px;
    overflow-y: scroll;
    
}

#notes-text {
    min-height: 150px;
    max-height: 300px;
}

.sticky-save-button-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    //display: none; /* Initially hidden */
    z-index: 100; /* Make sure it appears above other content */
    text-align: center; /* Center the button horizontally */
    padding: 10px; /* Add some padding to separate it from the screen edge */
    background-color: #fff; /* Optional: set a background color for the wrapper */
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1); /* Optional: add a shadow for better visibility */
  }



#mobile-name-background-container {
display: none;
}

#str-dex-wil-container, #hp-deprived-container, #armor-gold-container {
display: flex;
flex-direction: column;
//  align-items: center;
//  justify-content: center;
    gap: 4px;
}

#armor-gold-container {

    padding: 10px 10px 0px 10px;
    

    //height: 400px;
}

  
.edit-tablet-divider {
display: none;
}

.edit-mobile-divider {
    display:none;
}


#edit-button-mobile {
    display: none;
}

.edit-portrait-modal-thumbnail {
    min-width: 80px;
    min-height: 80px;
    max-height: 80px;
    max-width: 80px;
    margin: 4px;
    cursor: pointer;
}

.highlighted {
    border: 1px solid;
    border-radius: 4px;
    border-color: #485fc7;
    box-shadow: 0 0 0 0.125em rgba(72,95,199,.25)
}

#character-party-link {
    margin-left: 10px;
    color: #485fc7;
}



#edit-portrait-container {
    display: flex;
    justify-content: center;
    
}


  @media only screen and (max-width: 900px) {
    // Shared
     #character-form {
        padding: 20px 10px;
     }

     // Edit Page
     .divider-small {
        display: none
    }

  }

  @media only screen and (max-width: 768px) {
   
    // Shared 
    .sheet {
        border: 1px solid rgb(240, 240, 240);
        border-radius: 4px;
        padding: 1.5em !important;
        border-radius: 4px;
    }

    #character-form {
        padding: 20px 0px;
     }

    // Edit Page
    .content-border {
        border: none;   
        padding: 0px;
     }

     #edit-button-mobile {
        display: block;
        margin: 0px 0px 20px auto;
    }

    .edit-character-name {
        font-size: 28pt;
        margin: 0px !important;
        padding: 0px;
    }
    .edit-page-portrait-image {
        // min-width: 140px;
        // min-height: 140px;
        // max-height: 140px;
        // max-width: 140px;
        width: 140px;
        height: 140px;
    }



    .edit-tablet-divider {
        display: block;
        border-bottom: 1px solid rgb(240, 240, 240);
        width: 100%;
        margin: 28px auto;
    }

    .items-container {
        margin-top: 28px;
    }

    #all-attributes-container {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        padding-top: 10px;
    }

    #armor-gold-container {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        margin-top: 4px;
    }
    #mobile-name-background-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        //padding: 10px;
    }

    .edit-character-background {
        margin-top: 0px !important; padding: 0px; font-weight: 600
    }

    #edit-character-header {
        display: none;
    }

    #edit-portrait-container {
        display: flex;
        justify-content: space-evenly;
        
    }
    
    .divider-edit-page {
        display: none;
    }
  
}

@media only screen and (max-width: 590px) {

.sheet {
    padding: none;
    border: none;
}

.modal-card {
    max-height: 80vh;
}

#edit-character-left-column{
    padding: 1em;
    margin: 1em;
    border: 1px solid rgb(240, 240, 240);
}

.section {
    padding: 0px;
}
#all-attributes-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;

}
#armor-gold-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //margin-top: 4px;
    padding: 0px 10px;
}
.sheet {
    padding: 1em !important;
}

.edit-character-name {
    font-size: 24pt;

}
.edit-character-background {
    font-size: 16pt;;
}

.edit-page-portrait-image {
    // min-width: 120px;
    // min-height: 120px;
    // max-height: 120px;
    // max-width: 120px;
    height: 120px;
    width: 120px;
}

.edit-mobile-divider {
    display: block;
    border-bottom: 1px solid rgb(240, 240, 240);
    width: 100%;
    margin: 8px auto;
}

#save-button-footer-wrapper {
    padding-bottom: 40px;
    padding-top: 20px;
}

#edit-button-mobile {
    margin-right: 1.5em;
    margin-bottom: .5em;
}






}