<div class="field">
  <label for="item-library-search">{{_('Find equipment in the Marketplace')}}</label>
  <input id="item-library-search" type="search" list="item-library-options" autocomplete="off"
    @input="selectLibraryItem($el.value, $el.list.options)"
    placeholder="{{_('Type an equipment name')}}" />
  <datalist id="item-library-options">
    {% for equipment in library %}
    <option value="{{_(equipment.name)}}" data-item='{{ equipment | tojson }}'></option>
    {% endfor %}
  </datalist>
  <small>{{_('Select equipment to fill the fields below, or enter a custom item. Gold is unchanged.')}}</small>
</div>
