<div class="inventory-modal" id="error-modal" >
      <div class="modal-background inventory-modal-background"></div>
      <div class="modal-card" id="modal-card" style="position: fixed">
        <header class="modal-card-head">
          <h3 class="modal-card-title">{{_('Error')}}</h3>
        </header>
  
        <section class="modal-card-body">
          <div class="justify-centered">
            {{error|eol2br|tr|safe}}
          </div>
        </section>
  
        <footer class="modal-card-foot">
          <div class="row16spaced">
            <button class="button inventory-modal-cancel-button" type="button"
              hx-get="/charcreo/save/error" hx-target="#dialog-anchor" hx-swap="innerHTML">
              {{_('Cancel')}}
            </button>
          </div>
        </footer>
      </div>
</div>
