{% extends 'main/dice_modal.html' %}
{% block dice_modal_body %}
<div id="warden-dice" data-roll-url="{{ url_for('party.warden_roll') }}"
     data-error="{{ _('Unable to roll dice. Please try again.') }}">
  <form id="warden-dice-form">
    {{ roll_form.hidden_tag() }}
    {% if warden_parties is defined %}
    <div class="warden-roll-party-field">
      <label for="warden-roll-party">{{ _('Party') }}</label>
      <select id="warden-roll-party" name="party_id">
        <option value="">{{ _('No party') }}</option>
        {% for target in warden_parties %}<option value="{{ target.id }}">{{ target.name }}</option>{% endfor %}
      </select>
    </div>
    {% else %}
    <input type="hidden" name="party_id" value="{{ party.id }}">
    {% endif %}
    <label class="warden-roll-toggle">
      <input class="checkbox" type="checkbox" id="warden-public-roll" name="public_roll" value="on">
      {{ _('Public roll') }}
    </label>
    {{ super() }}
    <div class="dice-modal-buttons-container warden-special-rolls">
      <button type="button" class="button" data-warden-roll="reaction">{{ _('Reaction Roll') }}</button>
      <button type="button" class="button" data-warden-roll="fate">{{ _('Die of Fate') }}</button>
    </div>
  </form>
</div>
{% endblock %}
{% block dice_modal_scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='src/js/warden_dice.js') }}" type="module"></script>
{% endblock %}
