<div _="on closeModal remove me" class="modal-background">
	<div class="modal-background" _="on click trigger closeModal"></div>
	<div class="modal-card">
        <header class="modal-card-head">
		<h3>{{modal_title}}</h3>
        </header>
        <section class="modal-card-body">
		    <div>{{modal_message}}</div>
            <div class="modal-buttons">
                <button _="on click trigger closeModal">Close</button>
                <button _="on click trigger closeModal" hx-get="{{modal_action}}">{{modal_action_button}}</button>
            </div>
        </section>
	</div>
</div>