{% extends "base.html" %} {% block content %}
<section class="body-container">
  <div>
    <img src="/static/images/Kettlewright_Logo_Black.png" alt="Kettlewright" id="kettlewright-logo" />
  </div>

  <section class="about-text-container">
    <h2>About</h2>
    <p
      >Kettlewright is a free, open-source application for managing characters and parties in the Cairn RPG, currently
      in Beta. View the
      <a href="https://github.com/yochaigal/kettlewright/wiki" target="_blank" rel="noopener noreferrer">Wiki</a>,
      <a href="https://github.com/yochaigal/kettlewright/issues" target="_blank" rel="noopener noreferrer"
        >submit issues</a
      >, or check out the
      <a href="https://github.com/yochaigal/kettlewright" target="_blank" rel="noopener noreferrer">source code</a>
      on GitHub.</p
    >
  </section>
  <section class="about-text-container about-list">
    <h2>Attribution</h2>
    <ul>
      <li><strong>David Stearns</strong> - Software Development, QA, Testing</li>
      <li><strong>Yochai Gal</strong> - Project Design, DevOps, Documentation</li>
    </ul>
  </section>
  <section class="about-text-container about-list">
    <h2>Tools</h2>
    <ul>
      <li
        ><strong>tlomdev's tokens</strong> - A free, CC-BY-SA
        <a href="https://tlomdev.itch.io/tlomdevs-tokens">token pack</a> by
        <a href="https://tlomdev.itch.io/">tlomdev</a>.</li
      >
      <li
        ><strong>magick.css</strong> - A classless <a href="https://css.winterveil.net/">CSS framework</a> designed by
        <a href="https://github.com/wintermute-cell">winterveil</a>.</li
      >
      <li><strong>bulma</strong> - A modern <a href="https://bulma.io/">CSS framework</a> based on Flexbox.</li>
      <li
        ><strong>docker</strong> - A platform for building and managing containerized applications.
        <a href="https://www.docker.com/">More on docker here</a>.</li
      >
      <li
        ><strong>flask</strong> - A lightweight Python web framework for building web applications. More on flask
        <a href="https://flask.palletsprojects.com/en/3.0.x/">here</a>.</li
      >
      <li
        ><strong>sqlite</strong> - A fast, self-contained and full-featured SQL database engine. More on SQLite
        <a href="https://www.sqlite.org/">here</a>.</li
      >
      <li
        ><strong>redis</strong> - A real-time in-memory data structure store used as a database, cache, and message
        broker. More on redis <a href="https://redis.io/">here</a>.</li
      >
    </ul>
  </section>
</section>
<a
  class="github-fork-ribbon right-bottom fixed"
  href="https://github.com/yochaigal/kettlewright"
  data-ribbon="Fork me on GitHub"
  title="Fork me on GitHub"
  >Fork me on GitHub</a
>
{% endblock %}
