{% extends "base.html" %} {% block content %}
<section class="body-container">
  <div class="kettlewright-logo-container">
    <img src="/static/images/Kettlewright_Logo_Black.png" alt="Kettlewright" id="kettlewright-logo" />
    <div style="text-align: center">ver. {{version}}</div>
  </div>

  <section class="about-text-container">
    <h2>About</h2>
    <p>
      Kettlewright is a free, open-source application for managing characters and parties for the <a
        href="https://cairnrpg.com" target="_blank" rel="noopener noreferrer">Cairn</a> adventure game, currently in
      Beta. View the
      <a href="https://github.com/yochaigal/kettlewright/wiki" target="_blank" rel="noopener noreferrer">wiki</a>,
      <a href="https://github.com/yochaigal/kettlewright/issues" target="_blank" rel="noopener noreferrer">submit
        issues</a>,
      or check out the
      <a href="https://github.com/yochaigal/kettlewright" target="_blank" rel="noopener noreferrer">source code</a>
      on GitHub.
    </p>
  </section>

  <section class="about-text-container about-list">
    <h2>Attribution</h2>
    <ul>
      <li><strong><a href="https://github.com/david-stearns">David Stearns</a></strong>: Software Development, QA,
        Testing.</li>
      <li><strong><a href="https://newschoolrevolution.com">Yochai Gal</a></strong>: Project Design, DevOps,
        Documentation.</li>
      <li><strong><a href="https://tlomdev.itch.io/tlomdevs-tokens">tlomdev</a></strong>: Token Art licensed under CC-BY
        4.0.</li>
      <li><strong><a href="https://adamhensley.itch.io/">Adam Hensley</a></strong>: Logo/favicon Art.</li>
    </ul>
  </section>

  <section class="about-text-container about-list">
    <h2>Tools</h2>
    <ul>
      <li><strong><a href="https://flask.palletsprojects.com/en/3.0.x/">flask</a></strong>: A lightweight Python
        framework for building web applications.</li>
      <li><strong><a href="https://gunicorn.org/">gunicorn</a></strong>: A "green" python-based WSGI HTTP Server for
        UNIX-like systems.</li>
      <li><strong><a href="https://www.sqlite.org">sqlite</a></strong>: A fast, self-contained and full-featured SQL
        database engine.</li>
      <li><strong><a href="https://redis.io">redis</a></strong>: A real-time in-memory data structure store used as a
        database, cache, and message broker.</li>
      <li><strong><a href="https://www.docker.com">docker</a></strong>: A platform for building and managing
        containerized applications.</li>
      <li><strong><a href="https://css.winterveil.net">magick.css</a></strong>: A classless CSS framework designed by <a
          href="https://github.com/wintermute-cell">winterveil</a>.</li>
      <li><strong><a href="https://github.com/jgthms/bulma">bulma</a></strong>: A modern CSS framework based on Flexbox.
      </li>
      <li><strong><a href="https://htmx.org/">htmx</a></strong>: Modern browser features directly from HTML.</li>
    </ul>
  </section>
</section>
<a class="github-fork-ribbon right-bottom fixed" href="https://github.com/yochaigal/kettlewright"
  data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
{% endblock %}