{% extends "base.html" %} {% block content %}
<div class="body-container" style="margin-top: 0px">
  <div class="view-character-sheet" style="padding-top: 0px">
    <div style="display: flex; flex-direction: row; gap: 1em; margin-bottom: 1em">
      {% if character.custom_image == False and character.image_url == '' %}
      <img src="/static/images/portraits/default-portrait.webp" alt="character portrait" class="portrait-image"
        id="portrait-image" />
      {% else %}
      {% if character.custom_image == False and character.image_url != '' %}
      <img src="/static/images/portraits/{{character.image_url}}" alt="character portrait" class="portrait-image"
        id="portrait-image" />
      {% else %}
      <img src="{{character.image_url}}" alt="character portrait" class="portrait-image" id="portrait-image" />
      {% endif %}
      {% endif %}
      <div>
        <h1 class="view-mode">{{character.name}}</h1>
        <h2 class=""> {{character.background}} </h2>
      </div>
    </div>
    <div class="character-print-grid print-container">
      <div>
        <h3>Stats</h3>
        <div class="stats-stats-container character-section">
          <div class="character-attribute-container" id="character-str-container">
            <h4>STR</h4>
            <p class="subtitle view-mode" id="strength-view-text">{{character.strength}}/{{character.strength_max}}</p>
          </div>
          <div class="character-attribute-container" id="character-dex-container">
            <h4>DEX</h4>
            <p class="subtitle view-mode" id="dexterity-view-text">{{character.dexterity}}/{{character.dexterity_max}}
            </p>
          </div>
          <div class="character-attribute-container" id="character-wil-container">
            <h4>WIL</h4>
            <p class="subtitle view-mode" id="willpower-view-text">{{character.willpower}}/{{character.willpower_max}}
            </p>
          </div>
          <div class="character-attribute-container" id="character-hp-container">
            <h4>HP</h4>
            <p class="subtitle view-mode" id="hp-view-text">{{character.hp}}/{{character.hp_max}}</p>
          </div>
          {% if character.deprived %}
          <h4 class="character-deprived-text view-mode">DEPRIVED</h4>
          {% endif %}

          <div class="character-attribute-container" id="character-gold-container">
            <h4 class="view-attribute-font">Gold</h4>
            <p class="subtitle view-mode" id="gold-view-text">{{character.gold}}</p>
          </div>
          <div class="character-attribute-container" id="character-armor-container">
            <h4>Armor</h4>
            <p class="subtitle" id="armor-counter" style="margin-left: 0px; margin-right: auto">{{character.armor}}</p>
          </div>
        </div>
      </div>
      <div>
        <h3>Traits</h3>
        <p id="character-traits-view" class="character-section">{{character.traits}}</p>
      </div>
    </div>
    <div class="print-container">
      <h3>Inventory</h3>
      <div id="additional-inventory-container" class="character-print-grid">
        {% for c in inventory.containers %}
        <div style="margin-bottom: 1em" class="inventory-container print-container">
          <div class="inventory-container-title-selected subtitle">{{c.name}} ( {{inventory.container_slots(c)}}
            /
            {{c.slots}} )</div>
          {% for it in inventory.get_items_for_container(c.id, True) %}
          <span class="inventory-item-container">{{it['title'] | safe}}</span>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>

    <div>
      {% if character.description != "" %}
      <div id="character-print-description-container" class="print-container">
        <div class="character-section">
          <h3>Description</h3>
          <p id="character-description-view">{{character.description}}</p>
        </div>
      </div>
      {% endif %}
      <div id="character-print-bonds-container" class="print-container">
        <div class="character-section">
          <h3>Bonds</h3>

          <p id="character-bonds-view">{{character.bonds}}</p>
        </div>
      </div>
      {% if character.omens != "" %}
      <div id="character-print-omens-container" class="print-container">
        <div class="character-section">
          <h3>Omens</h3>
          <p id="character-omens-view">{{character.omens|safe}}</p>
        </div>
      </div>
      {% endif %}
      {% if character.scars != "" %}
      <div id="character-print-scars-container" class="print-container">
        <div class="character-section">
          <h3>Scars</h3>
          <p id="character-scars-view">{{character.scars|safe}}</p>
        </div>
      </div>
      {% endif %}
      {% if character.notes != "" %}
      <div id="character-print-notes-container" class="print-container">
        <div class="character-section">
          <h3>Notes</h3>
          <p id="character-notes-view">{{character.notes|safe}}</p>
        </div>
      </div>
      {% endif %}
      <div class="" id="character-party-container" class="print-container">
        <h3 id="character-party-heading">Party</h3>
        {% if party %}
        <p id="character-party-name-description">
        <div class="bold subtitle">{{ party.name }}</div>
        <div class="text-border" id="character-party-description">{{ party.description}}</div>
        </p>
        {%else %}
        <p id="character-no-party-description">This character does not belong to a party...</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<script>
  document.getElementById("navbar").classList.add("hidden");
  window.print();
</script>
{% endblock %}