{% extends "base.html" %} {% block content %}
<script>
  const quickRoll = `{{ quick_roll }}`;
  let data, containersData, deprived, customImage, imageURL, hp, hpMax;
  let partyName, partyDescription, traits, bonds, omens, scars, notes, description;
  let isOwner, party;

  if (quickRoll !== "True") {
    data = JSON.parse(`{{ items_json|safe }}`.slice(1, -1));
    containersData = JSON.parse(`{{ containers_json|safe }}`.slice(1, -1));
    deprived = `{{character.deprived}}`;
    customImage = "{{character.custom_image}}";
    imageURL = `{{character.image_url}}`;
    hp = `{{character.hp}}`;
    hpMax = `{{character.hp_max}}`;
    partyName = `{{character.party_name}}`;
    partyDescription = `{{character.party_description}}`;
    traits = `{{character.traits}}`;
    bonds = `{{character.bonds}}`;
    omens = `{{character.omens}}`;
    scars = `{{character.scars}}`;
    notes = `{{character.notes}}`;
    description = `{{character.description}}`;
    isOwner = `{{is_owner}}`;
    party = `{{party}}`;
  } else {
    let character = {};
    isOwner = false;
    data = JSON.parse(localStorage.getItem("items"));
    containersData = JSON.parse(localStorage.getItem("containers"));
    character = {
      background: localStorage.getItem("background"),
      name: localStorage.getItem("name"),
      strength: localStorage.getItem("strength"),
      strength_max: localStorage.getItem("strength"),
      dexterity: localStorage.getItem("dexterity"),
      dexterity_max: localStorage.getItem("dexterity"),
      willpower: localStorage.getItem("willpower"),
      willpower_max: localStorage.getItem("willpower"),
      gold: localStorage.getItem("gold"),
      armor: localStorage.getItem("armor"),
      traits: localStorage.getItem("traits"),
      bonds: localStorage.getItem("bonds"),
      omens: localStorage.getItem("omens"),
      scars: localStorage.getItem("scars") || "",
      description: localStorage.getItem("description"),
      notes: localStorage.getItem("notes"),
      hp: localStorage.getItem("hp"),
      hp_max: localStorage.getItem("hp"),
      deprived: false,
      party_name: "",
      party_description: "",
    };
    customImage = localStorage.getItem("custom_image");
    imageURL = localStorage.getItem("image_url");

    // update the DOM in quick roll mode
    window.addEventListener("DOMContentLoaded", () => {
      document.querySelector("h1.view-mode").textContent = character.name;
      document.querySelector("h2").textContent = character.background;
      document.getElementById("strength-view-text").textContent = `${character.strength}/${character.strength_max}`;
      document.getElementById("dexterity-view-text").textContent = `${character.dexterity}/${character.dexterity_max}`;
      document.getElementById("willpower-view-text").textContent = `${character.willpower}/${character.willpower_max}`;
      document.getElementById("hp-view-text").textContent = `${character.hp}/${character.hp_max}`;
      document.getElementById("gold-view-text").textContent = character.gold;
      document.getElementById("armor-counter").textContent = character.armor;
      document.getElementById("character-traits-view").textContent = character.traits;
      document.getElementById("character-description-view").textContent = character.description;
      document.getElementById("character-bonds-view").textContent = character.bonds;
      document.getElementById("character-omens-view").textContent = character.omens;
      document.getElementById("character-scars-view").textContent = character.scars;
      document.getElementById("character-notes-view").textContent = character.notes;

      // Hide party section for quick roll
      document.getElementById("character-party-container").style.display = "none";
    });

    console.log(character);
  }
</script>

<script src="{{url_for('static', filename='src/js/print_character.js')}}" defer type="module"></script>

<div class="body-container" style="margin-top: 0px">
  <div class="view-character-sheet" style="padding-top: 0px">
    <div style="display: flex; flex-direction: row; gap: 1em; margin-bottom: 1em">
      <img src="{{portrait_src}}" alt="character portrait" class="portrait-image" id="portrait-image" />
      <div>
        <h1 class="view-mode">{{character.name}}</h1>
        <h2 class=""> {{character.background}} </h2></div
      >
    </div>
    <div class="character-print-grid print-container">
      <div>
        <h3>Stats</h3>
        <div class="stats-stats-container character-section">
          <div class="character-attribute-container" id="character-str-container">
            <h4>STR</h4>
            <p class="subtitle view-mode" id="strength-view-text">{{character.strength}}/{{character.strength_max}}</p>
          </div>
          <div class="character-attribute-container" id="character-dex-container">
            <h4>DEX</h4>
            <p class="subtitle view-mode" id="dexterity-view-text"
              >{{character.dexterity}}/{{character.dexterity_max}}</p
            >
          </div>
          <div class="character-attribute-container" id="character-wil-container">
            <h4>WIL</h4>
            <p class="subtitle view-mode" id="willpower-view-text"
              >{{character.willpower}}/{{character.willpower_max}}</p
            >
          </div>
          <div class="character-attribute-container" id="character-hp-container">
            <h4>HP</h4>
            <p class="subtitle view-mode" id="hp-view-text">{{character.hp}}/{{character.hp_max}}</p>
          </div>
          {% if character.deprived %}
          <h4 class="character-deprived-text view-mode">DEPRIVED</h4>
          {% endif %}

          <div class="character-attribute-container" id="character-gold-container">
            <h4 class="view-attribute-font">Gold</h4>
            <p class="subtitle view-mode" id="gold-view-text">{{character.gold}}</p>
          </div>
          <div class="character-attribute-container" id="character-armor-container">
            <h4>Armor</h4>
            <p class="subtitle" id="armor-counter" style="margin-left: 0px; margin-right: auto"></p>
          </div>
        </div>
      </div>
      <div>
        <h3>Traits</h3>

        <p id="character-traits-view" class="character-section">{{character.traits}}</p>
      </div>
    </div>
    <div class="print-container">
      <h3>Inventory</h3>
      <div id="additional-inventory-container" class="character-print-grid">
        <div id="main-inventory-container" style="margin-bottom: 1em"> </div>
      </div>
    </div>

    <div>
      <div id="character-print-description-container" class="print-container">
        <div class="character-section">
          <h3>Description</h3>
          <p id="character-description-view">{{character.description}}</p>
        </div>
      </div>
      <div id="character-print-bonds-container" class="print-container">
        <div class="character-section">
          <h3>Bonds</h3>

          <p id="character-bonds-view">{{character.bonds}}</p>
        </div>
      </div>
      <div id="character-print-omens-container" class="print-container">
        <div class="character-section">
          <h3>Omens</h3>
          <p id="character-omens-view">{{character.omens|safe}}</p>
        </div>
      </div>
      <div id="character-print-scars-container" class="print-container">
        <div class="character-section">
          <h3>Scars</h3>
          <p id="character-scars-view">{{character.scars|safe}}</p>
        </div>
      </div>
      <div id="character-print-notes-container" class="print-container">
        <div class="character-section">
          <h3>Notes</h3>
          <p id="character-notes-view">{{character.notes|safe}}</p>
        </div>
      </div>
      <div class="" id="character-party-container" class="print-container">
        <h3 id="character-party-heading">Party</h3>
        {% if party_name %}
        <div id="character-party-name-description">
          <a class="bold subtitle" id="character-party-link" href="{{ base_url }}/{{ party_url }}">{{ party_name }}</a>
          <p class="text-border" id="character-party-description">{{ party_description}}</p>
        </div>
        {%else %}
        <p id="character-no-party-description">This character does not belong to a party...</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
