{% extends "base.html" %} {% block content %}
<script src="{{ url_for('static', filename='src/js/character_create.js') }}" type="module"></script>
<div class="body-container">
    <div class="create-header">
        <div>
            <button class="button is-link purple" id="roll-all" type="button" style="margin-right: 8px">
                {{_('Roll All')}}
                <i class="fa-solid fa-dice icon-in-button"></i>
            </button>
            <button class="button is-link blue" id="roll-remaining" type="button" style="margin-right: 8px">
                {{_('Roll Remaining')}}
                <i class="fa-solid fa-dice icon-in-button"></i> </button>
        </div>
        <button class="button" id="reset-button" type="button" hx-get="/reload-page?link=/new_character/"
            hx-confirm="{{_('Do you want to reset character?')}}" data-confirm-title="{{_('Reset character')}}"
            data-confirm-button="{{_('Reset')}}" data-cancel-button="{{_('Cancel')}}">
            {{_('Reset')}}
            <i class="fa-solid fa-rotate-right icon-in-button"></i>
        </button>
    </div>
    <form class="sheet" method="POST" id="character-form">
        <!--  PORTRAIT -->
        <div style="display: flex; flex-direction: row; gap: 1em; margin-bottom: 1em">
            <div class="no-space" id="character-portrait-container">
                {% include "partial/charcreo/portrait_img.html" %}
            </div>
            <h1 style="max-width: 200px">{{_('New Character')}}</h1>
        </div>
        <!-- FIELDS -->
        <div class="create-background-name-container" id="fields-container">
            {% include "partial/charcreo/fields.html" %}
        </div>

        <div class="divider"></div>

        <div class="create-attributes-container">
            <h2 class="title script-font">{{_('Attributes')}}</h2>
            <div id="attrs-container">
                {% include "partial/charcreo/attrs.html" %}
            </div>
        </div>


    </form>
</div>
{% endblock %}