<div class="modal" id="dice-modal">
  <script src="{{ url_for('static', filename='src/js/dice_modal.js') }}" type="module"></script>
  <div class="modal-background" id="dice-modal-background"></div>
  <div class="modal-card" id="dice-modal-card">
    <header class="modal-card-head">
      <h3 class="modal-card-title" style="margin-left: -33.51px">{{_('Roll Dice')}}</h3>
    </header>
    <section class="modal-card-body">
      <div class="dice-modal-result-container">
        <div class="dice-modal-result-center">
          <p id="dice-modal-roll-result">0</p>
        </div>
      </div>
      <div class="dice-modal-buttons-container">
        <button class="button is-blue dice-modal-button" id="dice-modal-d4-button" type="button">{{_('d4')}}</button>
        <button class="button is-blue dice-modal-button" id="dice-modal-d6-button" type="button">{{_('d6')}}</button>
        <button class="button is-blue dice-modal-button" id="dice-modal-d8-button" type="button">{{_('d8')}}</button>
        <button class="button is-blue dice-modal-button" id="dice-modal-d10-button" type="button">{{_('d10')}}</button>
        <button class="button is-blue dice-modal-button" id="dice-modal-d12-button" type="button">{{_('d12')}}</button>
        <button class="button is-blue dice-modal-button" id="dice-modal-d20-button" type="button">{{_('d20')}}</button>
        <button class="button is-blue dice-modal-button" id="dice-modal-d100-button" type="button"
          style="display: none">{{_('d100')}}</button>
      </div>
      <div class="dice-modal-buttons-container">
        <button class="button is-yellow dice-modal-button" id="dice-modal-d4+d4-button"
          type="button">{{_('d4+d4')}}</button>
        <button class="button is-yellow dice-modal-button" id="dice-modal-d6+d6-button"
          type="button">{{_('d6+d6')}}</button>
        <button class="button is-yellow dice-modal-button" id="dice-modal-d8+d8-button"
          type="button">{{_('d8+d8')}}</button>
        <button class="button is-yellow dice-modal-button" id="dice-modal-d10+d10-button"
          type="button">{{_('d10+d10')}}</button>
        <button class="button is-yellow dice-modal-button" id="dice-modal-d12+d12-button"
          type="button">{{_('d12+d12')}}</button>
      </div>
    </section>
  </div>
</div>