{% extends "base.html" %} {% block content %}
<section class="body-container">
  <div style="margin-top: 4em">
    <!-- <img src="/static/images/CairnLogoSmall.webp" alt="Cairn" style="max-height: 200px" /> -->
    <h1 style="font-size: 42pt">Kettlewright</h1>
  </div>
  <div style="text-align: center; padding: 2em; max-width: 400px">
    <div>
      <p
        >Kettlewright is a free, open-source application for managing characters and parties in the Cairn RPG, currently
        in Beta.
      </p></div
    >

    <div>
      <p
        >View the
        <a href="https://github.com/yochaigal/kettlewright/wiki" target="_blank" rel="noopener noreferrer">Wiki</a>,
        <a href="https://github.com/yochaigal/kettlewright/issues" target="_blank" rel="noopener noreferrer"
          >submit issues</a
        >, or check out the
        <a href="https://github.com/yochaigal/kettlewright" target="_blank" rel="noopener noreferrer">source code</a>
        on GitHub.</p
      ></div
    >
  </div>
  <div> </div>
</section>
<a
  class="github-fork-ribbon right-bottom fixed"
  href="https://github.com/yochaigal/kettlewright"
  data-ribbon="Fork me on GitHub"
  title="Fork me on GitHub"
  >Fork me on GitHub</a
>
{% endblock %}
