{% extends "base.html" %} {% block content %}
<script>
  const partyID = `{{ party_id }}`;
  const members = `{{ members }}`;
  let joinCode;
  const userID = `{{ user_id }}`;
  const isOwner = `{{ is_owner }}`;
  const isSubOwner = `{{ is_subowner }}`;
  const base_url = `{{ base_url }}`;
  const data = JSON.parse(`{{ items_json|safe }}`.slice(1, -1));
  const containersData = JSON.parse(`{{ containers_data_json|safe }}`.slice(1, -1));
</script>
{% if is_owner or is_subowner %}
<script>
  joinCode = `{{ join_code }}`;
</script>
{% endif %}
<script src="{{ url_for('static', filename='src/js/party.js') }}" defer type="module"></script>
<section class="body-container">
  {% with messages = get_flashed_messages() %} {% if messages is not none and messages|length > 0 %}
  <div class="message is-danger">
    <div class="message-body">
      <div class="errors">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %} {% endwith %}
  <div id="party-form" class="sheet box form">
    <div style="display: flex; justify-content: space-between">
      <div>
        <h1 class="title level-item justify-centered">{{ name }}</h1>
        <p class="justify-centered"></p>

        <p>{{description}}</p>
      </div>

      <div style="display: flex; flex-direction: column">
        {% if is_owner or is_subowner %}
        <a href="{{ request.path }}edit/">
          <button class="button is-link is-light" id="party-edit-button" type="button" style="margin-left: auto">
            Edit
            <i class="fa-solid fa-pen-to-square icon-in-button"></i>
          </button>
        </a>
        <button class="button is-light" id="join-code-button" type="button">
          Join Code
          <i class="fa-solid fa-link icon-in-button"></i>
        </button>
        {% endif %}
      </div></div
    >

    <div class="party-section">
      <span id="party-members-collapse-button" class="party-collapse-button">
        <i class="fa-solid fa-chevron-down" id="party-members-collapse-icon"></i>
      </span>
      <span class="subtitle bold">Members</span>
      <div id="party-members-content" class="party-section-content">
        {% if characters %} {% for character in characters %}

        <div
          class="card character-card party-member-card"
          style="cursor: pointer; padding: 20px"
          data-character-owner="{{ character.owner_username }}"
          data-character-name="{{ character.name }}"
          data-character-portrait-url="{{ character.image_url }}"
          data-character-url="{{ character.url_name }}"
          data-character-id="{{ character.id }}"
          data-character-items="{{ character.items }}"
          data-character-hp-max="{{ character.hp_max }}"
        >
          <div class="card-content">
            <div class="card-image">
              <figure class="" style="display: flex; align-items: center; justify-content: center">
                <img
                  src="{{ character.portrait_src }}"
                  alt="Character Portrait"
                  style="height: 120px; width: 120px; object-fit: cover"
                  data-custom-image="{{ character.custom_image }}"
                  data-image-url="{{ character.image_url }}"
                  class="character-card-image"
                />
              </figure>
            </div>
            <div class="character-card-name-container">
              <h2 class="character-card-name">{{ character.name }}</h2>
              <h3 class="character-card-background">{{ character.background }}</h3>
            </div>

            <div class="character-card-stats-container">
              <div>
                <div class="card-attribute-container">
                  <p class="character-card-attribute subtitle">
                    STR {{character.strength}}/{{character.strength_max}}
                  </p>
                </div>
                <div class="card-attribute-container">
                  <p class="character-card-attribute subtitle">
                    DEX {{character.dexterity}}/{{character.dexterity_max}}
                  </p>
                </div>
                <div class="card-attribute-container">
                  <p class="character-card-attribute subtitle">
                    WIL {{character.willpower}}/{{character.willpower_max}}
                  </p>
                </div>
              </div>
              <div>
                <div class="card-attribute-container">
                  <p class="character-card-attribute subtitle">Armor {{character.armor}}</p>
                </div>
                <div class="card-attribute-container">
                  <p class="character-card-attribute subtitle hp-text">HP {{character.hp}}/{{character.hp_max}}</p>
                </div>
                <div class="card-attribute-container">
                  <p class="character-card-attribute subtitle">Gold {{character.gold}}</p>
                </div>
              </div>
            </div>
            <div class="level is-mobile"> </div>
          </div>
        </div>

        {% endfor %} {% else %}
        <p>No members in this party</p>

        {% endif %}
      </div>
    </div>

    <div class="party-section">
      <span id="party-inventory-collapse-button" class="party-collapse-button">
        <i class="fa-solid fa-chevron-down" id="party-inventory-collapse-icon"></i>
      </span>
      <span class="subtitle bold">Storage</span>
      <div id="party-inventory-content" class="party-section-content">
        <div> {% include "main/inventory.html" %}</div>
      </div>
    </div>

    <!-- <div class="party-section">
      <span id="party-events-collapse-button" class="party-collapse-button">
        <i class="fa-solid fa-chevron-down" id="party-events-collapse-icon"></i>
      </span>
      <span class="subtitle bold">Events</span>
      <div id="party-events-content" class="party-section-content">
        <div class="text-border" id="party-events-text"> </div>
      </div>
    </div> -->
  </div>
</section>

{% endblock %}
