{% extends 'campaigns/layout.html' %}
{% from 'campaigns/forms.html' import page_header with context %}
{% block workspace %}
<div data-party-content="{{ party.id }}" data-refresh-url="{{ url_for('campaigns.party_materials_data', party_id=party.id) }}"></div>
<script type="module" src="{{ url_for('static', filename='src/js/campaign_live.js') }}"></script>
<div id="party-content-results">
{% call page_header(entry.title|markdown_inline) %}
<a href="{{ url_for('campaigns.party_materials', party_id=party.id) }}">{{ _('Campaign details') }}</a>
{% endcall %}
<div class="rich-content">{{ render_content(entry.body) }}</div>
<ul>{% for link in entry.links %}<li><a href="{{ url_for('campaigns.party_entry', party_id=party.id, entry_id=link.id) }}">{{ link.title }}</a></li>{% endfor %}</ul>
</div>
{% if graph %}{% include 'campaigns/map_panel.html' %}{% endif %}
{% endblock %}
