{% extends 'campaigns/layout.html' %}
{% from 'campaigns/forms.html' import page_header with context %}
{% from 'campaigns/material_tree.html' import tree_toolbar with context %}
{% from 'campaigns/party_tree.html' import party_children with context %}
{% block workspace %}
<div data-party-content="{{ party.id }}" data-refresh-url="{{ url_for('campaigns.party_materials_data', party_id=party.id) }}"></div>
<script type="module" src="{{ url_for('static', filename='src/js/campaign_live.js') }}"></script>
{% call page_header((party.name|markdown_inline) ~ ' · ' ~ _('Campaign details')) %}<a href="{{ url_for('party.party_view', ownername=party.owner_username or party.party_owner.username, party_url=party.party_url) }}">{{ _('Back to party') }}</a>
{% if editing %}<a class="button" href="{{ url_for('campaigns.new_entry', party_id=party.id) }}">{{ _('Create and show') }}</a>
<a href="{{ url_for('campaigns.party_materials', party_id=party.id, preview=1) }}">{{ _('View as party') }}</a>{% endif %}{% endcall %}
{% if preview %}<p>{{ _('You are viewing only this party’s published knowledge.') }}</p>{% endif %}
<div id="party-content-results">
<div x-data="materialTree">
{% if entries %}{{ tree_toolbar() }}{{ party_children(hierarchy) }}
{% else %}<p>{{ _('Nothing has been revealed yet.') }}</p>{% endif %}
</div>
</div>
{% endblock %}
