<div class="view-mode">
  <div class="row16">
    <h3 class="no-space">Omens</h3>
    <div title="Edit omens" hx-get="/charedit/inplace-text/{{ username }}/{{ url_name }}/omens" 
         hx-target="#character-omens-container" class="small-icon-button edmk">
      <i class="fa-solid fa-pen-to-square pen-to-square"></i>
    </div>
  </div>
  <p id="character-omens-view" class="with-whitespace">
  {% if character.omens != "" %}
    {{ character.omens }}
  {% else %}
    This character has no omens...
  {% endif %}
  </p>
</div>
