<div>
    <div class="row16">
        <h3 class="no-space">Scars</h3>
        <div title="Edit scars" hx-get="/charedit/inplace-scars/{{ username }}/{{ url_name }}" 
            hx-target="#character-scars-container" class="small-icon-button edmk">
            <i class="fa-solid fa-pen-to-square pen-to-square"></i>
        </div>
    </div>
    <p id="character-scars-view" class="with-whitespace">
    {% if character.scars != "" %}
        {{character.scars|safe}}
    {% else %}
        This character has no scars...
    {% endif %}
    </p>
    <form class="no-space">        
        <div class="row8">
            <select id="scars-select" name="scars-select" class="smaller-font">
                {% for s in scarlist %}
                <option value="{{s}}">{{s}}</option>
                {% endfor %}
            </select>
            <div 
                title="Add scar"
                hx-post="/charedit/inplace-scars/{{username}}/{{url_name}}/add"
                hx-target="#character-scars-container"
                hx-on-htmx-after-request="document.getElementById('scars-field') ? resizeTextarea(document.getElementById('scars-field')):''"
                class="small-icon-button" >
                <i class="fa-solid fa-plus plus" ></i>
            </div>
        </div>
    </form>
</div>