<div class="view-mode">
  <div class="row16">
    <h3 class="no-space">Traits</h3>
    <div title="Edit traits" class="small-icon-button"
      hx-get="/charedit/inplace-text/{{username}}/{{url_name}}/traits" 
      hx-target="#character-traits-container">
        <i class="fa-solid fa-pencil pencil"></i>
    </div>
  </div>
  <div id="character-traits-view" class="with-whitespace">
  {% if character.traits != "" %}
      {{character.traits}}
  {% else %}
      This character has no traits...
  {% endif %}
    </div>
</div>
  