<b><u>{{_('Custom Monster')}}</u></b><br><br>
<b>{{_('Monster Physique')}}: </b>{{monster.physique}}<br>
<b>{{_('Feature')}}:</b> {{monster.feature}}<br>
<b>{{_('Quirks')}}:</b> {{monster.quirks}}<br>
<b>{{_('Weakness')}}:</b> {{monster.weakness}}<br>
<b>{{_('Attack')}}:</b> {{monster.attack_type}}<br>
<b>{{_('Critical Damage')}}:</b> {{monster.critical_dmg}}<br>
<b>{{_('Ability')}}:</b> {{monster.ability}}<br>
<b>{{_('Target')}}:</b> {{monster.target}}
<br><br>
------------------------------------<br>