<script>
    function updateGenUrl(ev) {
        const el = document.getElementById('pcgen-button');
        // el.setAttribute('hx-vals', parts[0] + '?background=' + encodeURI(ev.value));
        el.setAttribute('hx-vals', '{"background":"' + ev.value + '"}');
        console.log(el);
    }
</script>
<form class="no-space">
    <div class="tools-generator">
        <div class="row16">
            <select id="background-select" onchange="updateGenUrl(this)">
                {{_('Background')}}:
                <option value="">{{_('Random')}}</option>
                {% for bkg in backgrounds %}
                <option value="{{bkg}}">{{bkg}}</option>
                {% endfor %}
            </select>
        </div>
        <div id="tools-button-container">
            <button class="button dice-button" type="button" id="pcgen-button" hx-get="/gen/character"
                hx-target="#pcgen-result-display" title="Roll">
                <i class="fa-solid fa-dice dice"></i>
            </button>
            <button class="button dice-button hidden" id="pcgen-copy-text-button" type="button"
                title="Copy to clipboard">
                <i class="fa-solid fa-copy"></i>
            </button>
            <button class="button dice-button hidden" id="pcgen-json-button" type="button" style="font-size: 16pt"
                title="Export">
                <i class="fa-solid fa-download"></i>
            </button>
            <button class="button dice-button hidden" type="button" id="gen-print-button" title="Print"
                hx-post="/gen/character/print" hx-target="body" hx-swap="outerHTML"
                hx-on-htmx-after-settle="document.getElementById('navbar').classList.add('hidden');">
                <i class="fa-solid fa-print"></i>
            </button>
        </div>
    </div>
    <div class="text-border" style="margin-top: 1em" id="pcgen-result-display"></div>
    <div class="hidden" id="print-anchor"></div>
</form>
<script>
    document.getElementById("pcgen-copy-text-button").addEventListener('click', (event, element) => {
        const resultDisplay = document.getElementById("pcgen-result-display");
        const text = resultDisplay.innerText;
        navigator.clipboard.writeText(text);
        KW_alert("Copy text", "Results copied to clipboard");
    });

    document.getElementById('pcgen-json-button').addEventListener('click', () => {
        if (!document.getElementById('json_data')) return;
        const jsonData = document.getElementById('json_data').value;
        const blob = new Blob([jsonData], { type: 'application/json' });
        const fileURL = URL.createObjectURL(blob);
        const downloadLink = document.createElement('a');
        downloadLink.href = fileURL;
        downloadLink.download = document.getElementById('character_name').value;
        document.body.appendChild(downloadLink);
        downloadLink.click();
    });
    htmx.on("show-print", function (evt) {
        document.getElementById('gen-print-button').classList.remove('hidden');
        document.getElementById('pcgen-copy-text-button').classList.remove('hidden');
        document.getElementById('pcgen-json-button').classList.remove('hidden');
    });

    htmx.on("do-print", function (evt) {
        document.getElementById("navbar").classList.add("hidden");
        document.body.classList.remove("dark-mode");
        window.print();
    });
</script>