{% if darkmode %}
{% include "partial/tools/pcgen_darkmode.html"%}
{% endif %}

<h2>{{character.name}}</h2>
<h4>{{character.background_name}}</h4>
<p>
<div class="subtitle">🙛 {{_('Description')}}</div>
<p>
    {{character.description}}
</p>
<div>
    {{_('You have a')}} {{character.traits[0].value}} {{character.traits[0].name}},
    {{character.traits[1].value}}
    {{character.traits[1].name}}, {{_('and')}} {{character.traits[2].value}}
    {{character.traits[2].name}}. {{_('Your')}} {{character.traits[3].name}} {{_('is')}}
    {{character.traits[3].value}}, {{_('your')}}
    {{character.traits[4].name}} {{character.traits[4].value}}. {{_('You have')}}
    {{character.traits[5].value}} {{character.traits[5].name}}. {{_('You are')}}
    {{character.traits[6].value}} {{_('and')}}
    {{character.traits[7].value}}.
    {{_('Your age')}}: {{character.age}}.
</div>
</p>
<p>
<div class="subtitle">🙛 {{_('Attributes')}}</div>
<div>
    <div><b>{{_('HP')}}:</b> {{character.attributes.hp}}</div>
    <div><b>{{_('Armor')}}:</b> {{character.attributes.armor}}</div>
    <div><b>{{_('STR')}}:</b> {{character.attributes.str}}</div>
    <div><b>{{_('DEX')}}:</b> {{character.attributes.dex}}</div>
    <div><b>{{_('WIL')}}:</b> {{character.attributes.wil}}</div>
</div>
</p>
<p>
<div class="subtitle">🙛 {{_('Equipment')}} ({{character.slots}})</div>
<div>
    <div><b>{{_('Items')}}:</b></div>
    <ul style="list-style-position:inside; padding-inline-start:16px">
        {% for it in character.items %}
        <li style="float:none; display: list-item;">{{it.title}}</li>
        {% endfor %}
    </ul>
</div>
<div><b>{{_('Gold')}}:</b> {{character.gold}}</div>
</p>
{% if character.containers|length > 1 %}
<p>
<div class="subtitle">🙛 {{_('Special')}}</div>
<div>
    <ul style="list-style-position:inside; padding-inline-start:16px">
        {% for c in character.containers %}
        {% if c.id != 0 %}
        <li style="float:none; display: list-item;">{{c.name}} ({{c.slots}}
            slots)</li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
</p>
{% endif %}
<p>
<div class="subtitle">🙛 {{_('Bonds')}}</div>
{% if not 'items' in character.bond or character.bond['items']|length == 0 %}
<div>
    {{character.bond['description']|tr}}
</div>
{% endif %}
{% if 'items' in character.bond %}
<div>
    {% for it in character.bond['items'] %}
    <div><b>{{it['name']|tr}}:</b> {{it['description']|tr}}</div>
    {% endfor %}

</div>
{% endif %}
</p>

<p>
<div class="subtitle">🙛 {{_('Omens')}}</div>
<div>
    {{character.omen | tr}}
</div>
</p>

<p>
<div class="subtitle">🙛 {{_('Your Past')}}</div>
<p>
    <i>{{character.table1['question'] | tr}}</i><br />
    {{character.table1['option']['description']|tr}}
</p>
<p>
    <i>{{character.table2['question']|tr}}</i><br />
    {{character.table2['option']['description']|tr}}
</p>
</p>
<input type="hidden" name="json_data" id="json_data" value="{{json_data}}" />
<input type="hidden" name="character_name" id="character_name" value="{{character.name}}" />