<style>
    .subtitle {
        font-weight: 600;
        font-style: italic;
        font-size: 1.25rem;
    }

    h1,
    h2,
    h3,
    h4 {
        font-family: "Averia Libre", cursive;
        color: var(--fg);
        font-style: normal;
        font-weight: 600;
        margin: 1.6rem 0 1.6rem 0;
    }

    h2 {
        font-size: 1.25rem;
        text-transform: uppercase;
        margin: 1.2rem 0 1.2rem 0;
    }

    h4 {
        font-style: italic;
        font-size: 1.025rem;
    }
</style>