<form class="no-space">
    <div class="tools-generator">
        <div class="row16">
            <select id="background-select" onchange="updateGenUrl(this)">
                {{_('Background')}}:
                <option value="">{{_('Random')}}</option>
                {% for bkg in backgrounds %}
                <option value="{{bkg}}">{{bkg | tr}}</option>
                {% endfor %}
            </select>
        </div>
        <div id="tools-button-container">
            <button class="button dice-button" type="button" id="pcgen-button" hx-get="/gen/character"
                hx-target="#pcgen-result-display" title="Roll">
                <i class="fa-solid fa-dice dice"></i>
            </button>
            <button class="button dice-button hidden" id="pcgen-copy-text-button" type="button"
                title="Copy to clipboard">
                <i class="fa-solid fa-copy"></i>
            </button>
            <button class="button dice-button hidden" id="pcgen-json-button" type="button" style="font-size: 16pt"
                title="Export">
                <i class="fa-solid fa-download"></i>
            </button>
            <button class="button dice-button hidden" type="button" id="gen-print-button" title="Print"
                hx-post="/gen/character/print" hx-target="body" hx-swap="outerHTML"
                hx-on-htmx-after-settle="document.getElementById('navbar').classList.add('hidden');">
                <i class="fa-solid fa-print"></i>
            </button>
        </div>
    </div>
    <div class="text-border" style="margin-top: 1em" id="monsters-result-display"></div>
    <div class="hidden" id="print-anchor"></div>
</form>