<p>{{_('Hi')}} {{ user.username }},</p>
<p>
  {{_('To reset your password')}}
  <a href="{{ url_for('auth.password_reset', token=token, _external=True) }}">{{_('click here')}}</a>.
</p>
<p>
  {{_('Alternatively, you can paste the following link in your browser address bar:')}}
</p>
<p>{{ url_for('auth.password_reset', token=token, _external=True) }}</p>
<p>{{_('If you have not requested a password reset simply ignore this message.')}}</p>
<p><small>{{_('Note: replies to this email address are not monitored.')}}</small></p>