<form class="no-space">
    <div class="row16spaced">
        <h3 class="no-space">Traits</h3>
        <div class="row32">
            <div 
                title="Save changes"
                hx-post="/charedit/inplace-text/{{username}}/{{url_name}}/traits/save" 
                hx-target="#character-traits-container"
                class="small-icon-button" >
                <i class="fa-solid fa-check check" ></i>
            </div>
            <div 
                title="Cancel"
                hx-get="/charedit/inplace-text/{{username}}/{{url_name}}/traits/cancel" class="small-icon-button"
                hx-target="#character-traits-container">   
                <i class="fa-solid fa-xmark xmark"></i>
            </div>
        </div>
    </div>    
    {{ form.traits(class='textarea inplace', id='traits-field', oninput='resizeTextarea(this)') }}        
</form>
