<form class="no-space">
    <div class="row16">
        <h3 class="no-space" id="character-party-heading">Party</h3>
        <div class="row32">
            <div 
                title="Save changes"
                hx-post="/charedit/inplace-text/{{username}}/{{url_name}}/party_code/save" 
                hx-target="#character-party-container"
                class="small-icon-button" >
                <i class="fa-solid fa-check check" ></i>
            </div>
            <div 
                title="Cancel"
                hx-get="/charedit/inplace-text/{{username}}/{{url_name}}/party_code/cancel" class="small-icon-button"
                hx-target="#character-party-container">   
                <i class="fa-solid fa-xmark xmark"></i>
            </div>
        </div>
    </div>    

    {% if party %}
    
    {% endif %}

    {% if not party %}
    <div class="field" id="character-join-code" style="margin-top: 20px">
      <label>Join Code</label>
      {{ form.party_code(class='input', id='party-id-field') }}
    </div>
    {% endif %}
</form>
