<form class="no-space">
    <div class="row16">
        <div class="">{{ form.name(class=' edit-mode' ) }}</div>
        <div class="row32">
            <div 
                title="Save changes"
                hx-post="/charedit/inplace-name/{{username}}/{{url_name}}/save" 
                hx-target="#character-name-container"
                class="small-icon-button" >
                <i class="fa-solid fa-check check" ></i>
            </div>
            <div 
                title="Cancel"
                hx-get="/charedit/inplace-name/{{username}}/{{url_name}}/cancel" class="small-icon-button"
                hx-target="#character-name-container">   
                <i class="fa-solid fa-xmark xmark"></i>
            </div>
        </div>
    </div>
</form>
