<form class="no-space">
    <div class="row16spaced">
        <h3 class="no-space">Omens</h3>
        <div class="row32">
            <div 
                title="Save changes"
                hx-post="/charedit/inplace-text/{{username}}/{{url_name}}/omens/save" 
                hx-target="#character-omens-container"
                class="small-icon-button" >
                <i class="fa-solid fa-check check" ></i>
            </div>
            <div 
                title="Cancel"
                hx-get="/charedit/inplace-text/{{username}}/{{url_name}}/omens/cancel" class="small-icon-button"
                hx-target="#character-omens-container">   
                <i class="fa-solid fa-xmark xmark"></i>
            </div>
        </div>
    </div>    
    {{ form.omens(class='textarea inplace', id='omens-field', oninput='resizeTextarea(this)') }}        
</form>
