<div class="row16 justify-centered" style="min-width: 200px">
    <select name="lang" id="lang-selector" style="margin-bottom: 0px">
        <option value="be">Беларуская мова</option>
        <option value="da">Dansk</option>
        <option value="de">Deutsch</option>
        <option value="en">English</option>
        <option value="es">Español</option>
        <option value="fi">Suomi</option>
        <option value="fr">Français</option>
        <option value="gd">Gàidhlig</option>
        <option value="it">Italiano</option>
        <option value="ja">日本語</option>
        <option value="lt">Lietuvių</option>
        <option value="pl">polski</option>
        <option value="pt">Português</option>
        <option value="ru">Русский</option>
        <option value="tr">Türkçe</option>
        <option value="uk">Українська</option>
        <option value="zh">汉语; 漢語 (中文)</option>
    </select>
</div>