<div class="row16 justify-centered" style="min-width: 200px">
    <select name="lang" id="lang-selector" style="margin-bottom: 0px">
        <option value="pt_BR" {% if locale=='pt_BR' %} selected {% endif %}>Brasilian Português</option>
        <option value="de" {% if locale=='de' %} selected {% endif %}>Deutsch</option>
        <option value="en" {% if locale=='en' %} selected {% endif %}>English</option>
        <option value="es" {% if locale=='es' %} selected {% endif %}>Español</option>
        <option value="pl" {% if locale=='pl' %} selected {% endif %}>polski</option>
    </select>
</div>