
<div class="row16spaced full-width">
    <h3 id="inventory-title">Inventory</h3>
    <div class="row32">
        <button class="button smaller-font" id="show-marketplace-button" type="button"> Marketplace </button>
        <div title="Close inventory editor" hx-get="/charedit/inplace-inventory/{{ username }}/{{ url_name }}/{{inventory.selected_container["id"]}}/close" 
            hx-target="#inventory-container" class="small-icon-button">
            <i class="fa-solid fa-xmark xmark"></i>
        </div>
    </div>
</div>
<div class="inventory-header flex-row" id="inventory-header" style="gap: 1.5rem"> 
    {% for cnt in inventory.containers %}
    <div class="row8" >
        <div class="inventory-container-title subtitle pointer {% if cnt["is_selected"] %} inventory-container-title-selected {% endif %} {% if cnt["encumbered"] %} red-text {% endif %} "
            hx-get="/charedit/inventory-select-container/{{username}}/{{url_name}}/{{cnt["id"]}}?mode=edit"
            hx-target="#inventory-container">
            {{cnt["title"]}}
        </div> 
        {% if cnt.is_selected %}
            <div class="pointer" title="Edit {{cnt.name}}"  
                hx-get="/charedit/inplace-inventory/{{username}}/{{url_name}}/container-edit/{{inventory.selected_container["id"]}}"
                hx-target="#inventory-container">
                <i class="item-edit-button fa-solid fa-pencil pencil" ></i>
            </div>
        {% endif %}
    </div> 
    {% endfor %}   
</div>
<div id="items-container-inline" style="margin-top: 0px; width: 100%">
{% for it in inventory.selected_container["items"] %}
    <div class="inventory-item-container">
    {% if it["is_empty"] %}
        <div class="inventory-item-text"></div>
    {% else %}
        <div class="inventory-item-text {% if it["name"] == "Fatigue" %} fatigue-text {% endif %}">
        {{it.title | safe}}
        </div>
        <div class="inventory-item-button-container">        
            {% if it.editable %}
            <div class="pointer" title="Edit"  
                hx-get="/charedit/inplace-inventory/{{username}}/{{url_name}}/item-edit/{{it.id}}"
                hx-target="#inventory-container">
                <i class="item-edit-button fa-solid fa-pencil pencil" ></i>
            </div>
            {% endif %}
            <div class="pointer" title="Delete"  
                hx-get="/charedit/inplace-inventory/{{username}}/{{url_name}}/{{inventory.selected_container["id"]}}/item-delete/{{it.id}}"
                hx-target="#inventory-container"
                hx-confirm="Do you want to delete {{it.name}}?"
                data-confirm-title="Delete item"
                data-confirm-button="Delete"
             >
                <i class="item-edit-button fa-solid fa-xmark xmark" ></i>
            </div>
        </div>
    {% endif %}      
    </div>
{% endfor %}
</div>

<div class="panel-block inventory-footer">
<div class="inventory-footer-buttons">
    <button class="button smaller-font" id="add-item-button" type="button"
            {% if inventory.selected_container["encumbered"] %} disabled {% endif %}> 
        + Item 
    </button>
    <button class="button smaller-font" id="add-fatigue-button" type="button"
            hx-get="/charedit/inplace-inventory/{{username}}/{{url_name}}/{{inventory.selected_container["id"]}}/fatigue"
            hx-target="#inventory-container"
            {% if inventory.selected_container["encumbered"] %} disabled {% endif %}> 
            + Fatigue 
    </button>
    <button class="button smaller-font" id="add-container-button" type="button"
                hx-get="/charedit/inplace-inventory/{{username}}/{{url_name}}/container-edit/{{inventory.selected_container["id"]}}?mode=create"
                hx-target="#inventory-container">
                 + Container 
    </button>    
</div>
</div>

<!-- legacy compatibiity -->
<div id="items-container" style="display:none"></div>

