<div>
  <div class="row16">
    <h3 id="character-party-heading" class="no-space">{{_('Party')}}</h3>
    {% if party %}
    <button type="button" class="button" style="margin-top: 0px"
      hx-get="/charedit/leave-party/{{username}}/{{url_name}}" hx-target="#character-party-container"
      hx-confirm="Do you want to leave party <br/>{{party.name}}?" data-confirm-title="Leave party"
      data-confirm-button="Leave">
      {{_('Leave party')}}
    </button>
    {% endif %}
  </div>
</div>
{% if party %}
<div id="character-party-name-description">
  <a class="bold subtitle" id="character-party-link" href="{{ base_url }}/{{ party_url }}">{{ party.name }}</a>
  <p class="" id="character-party-description">{{ party.description }}</p>
</div>
{% else %}
<div class="column">
  {% if err %}
  <p style="color:red">{{ err }}</p>
  {% endif %}
  <div class="field" id="character-join-code" style="margin-top: 20px">
    <label>{{_('Join Code')}}</label>
    {{ form.party_code(class='input', id='party-id-field') }}
  </div>
</div>
{% endif %}
</div>